<!--The whole content below can be removed with the new code.-->


  <link href="https://unpkg.com/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--  

 <md-sidenav-container>

   <md-sidenav opened="true">
    <button md-button>
     Add
    </button>
   </md-sidenav>
 </md-sidenav-container> 


 <md-menu>
  <button md-menu-item> Settings </button>
  <button md-menu-item> Help </button>
</md-menu>

 <div fxLayout
        fxLayout.xs="column"
        fxLayoutWrap="wrap"
        fxLayoutAlign="space-around"
        fxFlex="49%">
        <div class="widget-sm" fxFlex="49%">Small</div>
        <div class="widget-sm" fxFlex="49%">Small</div>
        <div class="widget-sm" fxFlex="49%">Small</div>
        <div class="widget-sm" fxFlex="49%">Small</div>
    </div> 
 -->


<div fxLayout="column" fxFlex>
<md-toolbar color="primary">
<span>Welcome To Movies World</span>

</md-toolbar>



<md-sidenav-container style="height: 500px" fxFlex>

 <!-- <div style="height: 30px" fxLayout="column"> -->
 <div fxLayout
        fxLayout.xs="column"
        fxLayoutWrap="wrap"
        style="height: 50px"
        fxLayoutAlign="space-around"
        >

<!-- <div fxFlex="20%">Total Likes:   <md-icon>favorite</md-icon> 
<span nfIF="totalLikes>0">{{totalLikes}}</span>
</div> -->

<div fxFlex="60%"> Sort By: 
<!--  #sortby -->
<md-radio-group [(ngModel)]="sortBy" #sortbyv (change)="sortMoivesBy(sortbyv)">
  <md-radio-button value="old">Year Old-TO-New</md-radio-button>
  <md-radio-button value="new">Year New-To-Old</md-radio-button>
</md-radio-group>
</div>

<div fxFlex ="40%">
<md-input-container>
  <input mdInput placeholder="Search By Movie Name" #search 
  (keyup.enter)="searchFor(search.value)">
</md-input-container>


</div>


</div>


  <md-sidenav  mode="side" opened="true" #sidenav 
      style="background-color: skyblue">
      <md-tab-group>

        <md-tab label="Movies List">
          <md-nav-list>
          <!-- (click) = "selectedUser = user" -->
            <md-list-item *ngFor="let movie of movies" >
            <h4>{{movie.movie_title}}</h4>
            </md-list-item>
          </md-nav-list>
          </md-tab>
      </md-tab-group>
   
   </md-sidenav>


<md-grid-list cols="2" rowHeight="300px" gutterSize="5px">
  <md-grid-tile  class="divcls" *ngFor="let movie of movies">
  
     <md-card  fxLayoutWrap="wrap" fxLayout="column" fxFlex="90%" fxLayoutGap="10px">
        <md-card-title>{{movie.movie_title}}</md-card-title>
       <md-card-content>
        <div fxLayout
        fxLayout.xs="column"
        fxLayoutWrap="wrap"
        fxLayoutAlign="space-around">
         <div class="card-media" fxFlex="49%"></div>             
               <div class="widget-sm" fxFlex="49%">
                     <span>Plot :{{movie.plot_keywords}}</span><br/>
                    <span>Rating: {{movie.content_rating}} </span> <span> Year: {{movie.title_year}}</span>
              </div>
             
       </div>
       </md-card-content>
       <md-card-actions>
    
             <div fxLayout
        fxLayout.xs="column"
        fxLayoutWrap="wrap"
        fxLayoutAlign="space-around">
        <div fxFlex="20%">
      <span>Rate It:    </span>
        <md-icon>grade</md-icon><md-icon>grade</md-icon><md-icon>grade</md-icon><md-icon>grade</md-icon><md-icon>grade</md-icon>
      </div>
      <div fxFlex="70%">
        <md-icon>link</md-icon><a href={{movie.movie_imdb_link}} target="_blank">{{movie.movie_imdb_link}}</a>
 </div>
        </div>
      </md-card-actions>
      </md-card> 
    
  </md-grid-tile>
</md-grid-list>


</md-sidenav-container>

  





  </div>
